.results{
    
    display: flex;
    justify-content: center;
    background-color: #070605;
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-right: 0%;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

.results-message{
    display: grid;
    grid-column: 1/3;
    color: #C4994D;
    margin-bottom: 20px;
}

.error-messages{
    color: #C4994D;
}

.movie-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


@media screen and (max-width: 992px) {
    .movie-list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .results-message{
        display: grid;
        grid-column: 1/2;
        color: #C4994D;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 730px) {
    .movie-list {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
}

.prev-next-button{
    width: 50%; 
    height: 30px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #C4994D;
    border-color: #C4994D;
    color: #070605; 
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 80px;
}

.disable{
    width: 50%; 
    height: 30px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #3C333C;
    border-color: #3C333C;
    color: white;
}